* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: #333;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.section {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: auto;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.project-card {
  padding: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
  margin-top: 2rem;
}
.gallery-grid{
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-photo {
    display: flex;

}

.gallery-photo:hover {
  transform: scale(1.05); /* subtle zoom on hover */
}
